(
    dock_items:[
        Tab(
            id:log_list,
            name:"Log",
            closable:false,
            kind:LogList,
        ),
        Tab(
            id:file1,
            name:"app.rs",
            closable:true,
            kind:StudioEditor,
        ),
        Tab(
            id:profiler,
            name:"Profiler",
            closable:false,
            kind:Profiler,
        ),
        Tab(
            id:file_tree,
            name:"Explore",
            closable:false,
            kind:StudioFileTree,
        ),
        Tabs(
            id:log_tabs,
            tabs:[
                log_list,
                profiler,
            ],
            selected:0,
            closable:false,
        ),
        Tab(
            id:edit_first,
            name:"Edit",
            closable:false,
            kind:EditFirst,
        ),
        Tabs(
            id:file_tree_tabs,
            tabs:[
                file_tree,
                search,
                run_list,
            ],
            selected:2,
            closable:false,
        ),
        Splitter(
            id:split2,
            axis:Horizontal,
            align:FromB(749.75390625),
            a:edit_tabs,
            b:run_tabs,
        ),
        Tabs(
            id:edit_tabs,
            tabs:[
                edit_first,
                16420893170935554481,
                10940787124963712429,
            ],
            selected:2,
            closable:false,
        ),
        Tab(
            id:run_first,
            name:"View",
            closable:false,
            kind:RunFirst,
        ),
        Splitter(
            id:split1,
            axis:Vertical,
            align:FromB(200),
            a:split2,
            b:log_tabs,
        ),
        Tab(
            id:16420893170935554481,
            name:"gallery_image.rs",
            closable:true,
            kind:StudioEditor,
        ),
        Tab(
            id:run_list,
            name:"Run",
            closable:false,
            kind:RunList,
        ),
        Splitter(
            id:root,
            axis:Horizontal,
            align:FromA(230),
            a:file_tree_tabs,
            b:split1,
        ),
        Tabs(
            id:run_tabs,
            tabs:[
                run_first,
            ],
            selected:0,
            closable:false,
        ),
        Tab(
            id:search,
            name:"Search",
            closable:false,
            kind:Search,
        ),
        Tab(
            id:10940787124963712429,
            name:"gallery_overlay.rs",
            closable:true,
            kind:StudioEditor,
        ),
    ],
)